{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    WeatherTop App
  </h3>
  <div class="section">
    <p>
      Node.js build of the WeatherTop app, a companion for the Weathertop1000 modular weather station.
    </p>
  </div>
</section>