{{> menu active="dashboard"}}

<header class="title">
    <br>
    <p>
      {{firstname}} {{lastname}}'s stations
  </p>
</header>

<section class="section">
   {{> latest-reading}}
  {{> list-stations}}
  {{> add-station}}
</section>